{% extends "main.html" %}
{% block content %}
    <form action="/response" method="post">    
        <center>
        <p> </br></br> <h2>Hi, here is Alita.</h2> <h2>What stroy would you like to share with me?</h2> </br>
            <textarea class="textarea_content" name="text" rows="5" cols="100" maxlength="201">
	    </textarea> </br>
            (200 characters maximum)
        </p> </br>
        <input type="submit" value="Emotion Detection" class="btn btn-default">
        </center>
    </form>
    <div id="response"></br>{% block response %}{% endblock %}</div>
{% endblock %}
